.page-header {
  height: 430px;
  background: #cf0004 url(../img/banner_1200.jpg) no-repeat center bottom;
  position: relative;
  @media @tablet {
    height: 300px;
    background-image: url(../img/banner_825.jpg);
  }
  @media @mobile {
    height: 160px;
    background-image: url(../img/banner_625.jpg);
    background-position: left top;
  }
  @media @mobile-medium {
    height: 110px;
    background-image: url(../img/banner_425.jpg);
  }
  .logo {
    z-index: 1;
    position: absolute;
    display: block;
    width: 160px;
    height: 66px;
    background: url(../img/logo.svg) no-repeat 0 0;
    background-size: contain;
    top: 15px;
    left: 20px;
    font-size: 0;
    @media @tablet-small {
      width: 145px;
      height: 60px;
    }
    @media @mobile {
      width: 100%;
      height: 66px;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,.65);
      background-size: 112px 46px;
      background-position: 20px center;
    }
    @media @mobile-medium {
      height: 36px;
      background: rgba(0,0,0,.65) url(../img/logo_small.svg) no-repeat center center;
      background-size: 126px 17px;
    }
  }
  &__hamburger {
    @media @mobile {
      width: 60px;
      height: 45px;
      position: absolute;;
      right: 4%;
      top: 6%;
      transform: rotate(0deg);
      transition: 0.6s ease-in-out;
      cursor: pointer;
      z-index: 2;
      &.open span {
        &:nth-child(1) {
          top: 18px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }
        &:nth-child(3) {
          top: 18px;
          transform: rotate(-135deg);
        }
      }
      span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #d3531a;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 18px;
        }
        &:nth-child(3) {
          top: 36px;
        }
      }
    }
    @media @mobile-medium {
      width: 40px;
      height: 25px;
      position: absolute;;
      right: 3%;
      top: 4.5%;
      transform: rotate(0deg);
      transition: 0.6s ease-in-out;
      cursor: pointer;
      z-index: 2;
      &.open span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -40px;
        }
        &:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg);
        }
      }
      span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #d3531a;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
    }
  }
  .hero {
    position: absolute;
    width: 42%;
    top: 130px;
    left: 55%;
    @media @desktop-small {
      left: 56%;
    }
    @media @tablet {
      top: 120px;
      left: 48%;
    }
    @media @tablet-small {
      top: 140px;
      left: 48%;
    }
    @media @mobile {
      width: 300px;
      top: 85px;
      left: 130px;
    }
    @media @mobile-medium {
      width: 100%;
      left: 0;
      top: 46px;
      text-align: center;
    }
    &__header {
      line-height: 1em;
      margin: 0 0 30px;
      color: #fff;
      @media @desktop-small {
        margin-bottom: 20px;
      }
      @media @mobile {
        margin-bottom: 10px;
      }
      @media @mobile-medium {
        font-size: 1em;
        margin-bottom: 10px;
      }
    }
    &__btn {
      @media @mobile-medium {
        padding: 2px 30px;
        font-size: 0.8em;
      }
      span {
        @media @mobile-medium {
          display: none;
        }
      }
    }
  }
}
